*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
}

nav{
   display: flex;
   flex-direction: column;
   width: 150px;
   background-color: black;
}

a{
    padding-top: 20%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-bottom: 10%;
    padding-left: 15%;
}


main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 187, 246);
 }

.cover{
    width: 60vw;
    height: 60vh;
    background-image: url("/assests/cover.png");
    background-size: cover;
    background-position: center;
}

.text{
    font-size: 1.2rem;
    margin-top: 50px;
    animation: grow 1s linear alternate;
    animation-iteration-count: infinite;
    transition: all 0.3s;
}

@keyframes grow{
    0%{transform: scale(1.2);}
}

@media only screen and (max-width:650px){
    .cover{
        width:70vw;
        height: 50vh;
    }

    .text{
        display: none;
    }
}