*{
    margin: 0px;
    padding: 0px;
}

/* NAVBAR */
nav{
    background-color: black;
}

ul{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

li{
    padding-right: 40px;
}

a{
    display: flex;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

a:hover{
    transition: ease 0.3s;
    padding:0px 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.push{
    margin-left: auto;
    padding-right: 10px;
}

/* ADAPTING TO SMALLER SCREEN SIZES */
@media only screen and (max-width:650px) {
    a{
        font-size: 1rem;
    }

    li{
        padding-right: 20px;
    }

    .push{
        padding-right: 5px;
    }
}